<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        <%= category.name %>
    </title>
    <%- include('header') %>

    <script>

   // Convert the post object to a JSON string and parse it back to an object
   var category = JSON.parse('<%- JSON.stringify(category).replace(/'/g, "\\'").replace(/"/g, '\\"') %>');
        console.log(category);

  
   

    </script>




</head>

<body>
    <%- include('postFeed') %>

  
    <%- include('sidebar') %>



</body>

</html>