<!DOCTYPE html>
<html lang="en">
<head>
  <title>asozdu - User Page - <%= user.username %></title>
  <%- include('includes/header') %>
</head>
<body>
<div class="container" id="user_page">
  <div id="user_page_inner">
    <!-- Tabs -->
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-info">Info</li>
      <li class="tab-link" data-tab="tab-comments">Comments</li>
      <li class="tab-link" data-tab="tab-posts">Saved Posts</li>
      <li class="tab-link" data-tab="tab-saved-comments">Saved Comments</li>

    </ul>
    <h1 id="username_user_page"><i class="fa fa-user-circle"></i>
      <%= user.username %>
    </h1>
    <div id="tab-info" class="tab-content current" style="padding-top:10px;">

      <p id="date-registered"><%= new Date(user.date_registered) %></p>
      <p>Roles: <%= user.roles ? user.roles.join(', ') : 'None' %></p>
     
    </div>
    <div id="tab-comments" class="tab-content">
      <div id="user-comments"></div>
    </div>
    <div id="tab-posts" class="tab-content">
      <div id="user-posts"></div>
    </div>
    <div id="tab-saved-comments" class="tab-content">
      <div id="user-saved-comments"></div>
    </div>
    
  </div>
</div>



<script>

var pageUsername = "<%= user.username %>"; 
var currentUser = localStorage.getItem('username'); 
var comments = <%- JSON.stringify(comments) %>;


$(document).ready(function () {

    // Use the timeAgo function for the " Date Registered"
    document.getElementById('date-registered').innerText = 'Registered ' + timeAgo(new
      Date('<%=user.date_registered %>'));


    // Hide "Saved Posts" tab if the user page being viewed is not the logged-in user
    if (pageUsername !== currentUser) {
      $('li[data-tab="tab-posts"]').hide(); // Hide the tab
    } else {
      $('li[data-tab="tab-posts"]').show(); // Show the tab if it's the current user
    }

    // Tab switching logic
    $('ul.tabs li').click(function () {
      var tabId = $(this).attr('data-tab');
      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $("#" + tabId).addClass('current');

      if (tabId === "tab-posts" && $('#user-posts').is(':empty') && pageUsername === currentUser) {
        fetchAndRenderSavedPosts();
      }

      if (tabId === "tab-saved-comments" && $('#user-saved-comments').is(':empty') && pageUsername === currentUser) {
  fetchAndRenderSavedComments();
}

      

    });


    // Comments rendering
    if (comments.length < 1) {
      $('#user-comments').append(`<p style="color: gray;"><%= user.username %> hasn't written any comments yet.</p>`);
    } else {
      comments.forEach(function (comment) {
        const commentHtml = getCommentHtml(
          comment.comment_id,
          comment.author,
          comment.content,
          0,
          comment.upvotes - comment.downvotes,
          new Date(comment.timestamp).toLocaleString(),
          comment.parent_id,
          ['reply'],
          comment.permalink
        );
        $('#user-comments').append(commentHtml);
      });
    }



    // Function to fetch and render user's saved posts
    function fetchAndRenderSavedPosts() {
      const authToken = localStorage.getItem('authToken'); // Retrieve the authToken from localStorage
      if (!authToken) {
        console.error('User is not logged in or authToken is missing.');
        return;
      }

      $.ajax({
        url: '/api/mySavedPosts',
        type: 'GET',
        headers: { 'Authorization': `Bearer ${authToken}` },
        success: function (posts) {
          if (posts.length > 0) {
            const postsHtml = posts.map(post => generatePostHtml(post,true)).join('');
            $('#user-posts').html(postsHtml);
          } else {
            $('#user-posts').html(`<p style="color: gray;">No saved posts found.</p>`);
          }

          $('#user-posts').append('<div style="clear: both;"></div>');
        },
        error: function (xhr, status, error) {
          console.error('Failed to fetch saved posts:', error);
          $('#user-posts').html(`<p style="color: red;">Failed to fetch saved posts. Please try again later.</p>`);
        }
      });
    }


  function fetchAndRenderSavedComments() {
    const authToken = localStorage.getItem('authToken'); // Retrieve the authToken from localStorage
    if (!authToken) {
      console.error('User is not logged in or authToken is missing.');
      return;
    }

    $.ajax({
      url: '/api/mySavedComments',
      type: 'GET',
      headers: { 'Authorization': `Bearer ${authToken}` },
      success: function (comments) {
        if (comments.length > 0) {
          // Use the getCommentHtml function to generate the HTML for each comment
          const commentsHtml = comments.map(comment =>
            getCommentHtml(
              comment.comment_id,
              comment.author,
              comment.content,
              0, // Assuming depth is 0 for saved comments
              comment.upvotes - comment.downvotes, // Calculate the vote difference
              new Date(comment.timestamp), // Convert timestamp to Date object
              comment.parent_id,
              ['reply'], // Example link blacklist, adjust as needed
              comment.permalink // Assuming the comment object has a permalink property
            )
          ).join('');
          $('#user-saved-comments').html(commentsHtml);
        } else {
          $('#user-saved-comments').html(`<p style="color: gray;">No saved comments found.</p>`);
        }
      },
      error: function (xhr, status, error) {
        console.error('Failed to fetch saved comments:', error);
        $('#user-saved-comments').html(`<p style="color: red;">Failed to fetch saved comments. Please try again later.</p>`);
      }
    });
  }






  });


  
</script>


          </body>

</html>