<div id="sidebar_container">

    <% if (category && category.name) { %>
        <div class="category-metadata-box">
            <h2>
                <%= category.name %>
            </h2>
            <p id="cat_permalink"><a href="/c/<%= category.permalink %>">/c/<%= category.permalink %></a></p>
            <% if (category.creator) { %>
                <p id="cat_createdby">
                    Created by
                    <% if (category.creator==="azodu" ) { %>
                        <%= category.creator %> 
                            <% } else { %>
                                <a class="cat_creator" href="/u/<%= category.creator %>"><%= category.creator %></a>
                                <% } %> <span style="display: none;" id="cat_date_created">
                                        <%= category.date_created %>
                                    </span>
                </p><div id="editCategoryButtonContainer"></div>
                <% } %>

                    </p>
                    <button id="subscribe_button">Join</button>
                    <span id="cat_subscribers_count">
                        <% if (category.permalink === "azodu") { %>
                          <%= 145 + category.subscribers %> members
                        <% } else if (category.permalink === "anything") { %>
                          <%= 331 + category.subscribers %> members
                        <% } else { %>
                          <%= category.subscribers %> members
                        <% } %>
                      </span>
                      
                    
                    <div id="r_prompt" class="tooltip">
                        <span class="help-icon">
                            Relevancy prompt<i class="fas fa-question-circle"></i>
                        </span>
                        <span class="tooltiptext">The AI moderator allows submissions to this category if they fit the
                            following description</span>
                    </div>

                    <% if (category.description) { %>
                        <p><%- category.description %></p>
                        <% } %>
                        <% if (category.additional_info) { %>
                            <div id="additional_info_sidebar"><%- category.additional_info %></div>
                            <% } %>
                          
        </div>
        <% } %>



            <div id="info_bar_1">
                <h4 id="ai_moderated"><!--<i class="fas fa-user-shield"></i>--><i class="fas fa-robot"></i>

                    AI-moderated</h4>
                <!--   <p>Azodu AI modes are 100% impartial and more effective than human mods.</p> -->
                <p>Welcome to Azodu, the 100% AI-moderated discussion platform.</p>

                <div id="rights"><i class="fas fa-scroll"></i><span id="rights_span"><a href="/c/azodu/123e4567-e89b-12d3-a456-426614174001/how-it-works">How it works</a></span>
                </div>
                <div id="rules"><i class="fas fa-gavel"></i><span id="rules_span"><a href="/c/azodu/123e4567-e89b-12d3-a456-426614174000/azodu-content-policy">Content policy</a></span>
                </div>
                <div id="rules"><i class="fas fa-comments"></i><span style="position: relative; left: 6px;"><a href="https://discord.gg/nCaWRv8r">Join our Discord</a></span>
                </div>
            </div>

            <div class="sidebar">



                <button id="loginRegisterButton" class="sidebar_button"><i
                        class="fas fa-sign-in-alt"></i>Login/Register</button>




                <a href="/submit-post?cat=<%= category.permalink %>"
                    style="margin-bottom: 20px; display: block;"><button class="sidebar_button" type="button"><i
                            class="fas fa-pencil-alt"></i>Create a post</button></a>

                <a href="/submit-category"><button class="sidebar_button" type="button"><i
                            class="fas fa-plus-square"></i>Create a category</button></a>


            </div>


            <div id="explore_sidebar">



                <div id="subscribed_spaces_container" style="display: none;">
                    <h3 id="subscribed_heading">Subscriptions</h3>
                    <ul id="subscribed_links"></ul>
                </div>

                <h3 id="explore_heading">Categories</h3>
                <ul class="community-links">


                </ul>
                <a href="#" class="show-more" id="showMoreBtn">Show more ...</a>

            </div>




</div>


<script>

    $(document).ready(function () {

        const dateString = $('#cat_date_created').text();
        if (dateString) {
            const timeAgoText = timeAgo(new Date(dateString));
            $('#cat_date_created').text(timeAgoText).css('display', 'inline');
        }

        function fetchAndDisplayCategories() {
            $.ajax({
                url: '/api/categories',
                type: 'GET',
                success: function (categories) {
                    const $communityLinks = $('.community-links');
                    $communityLinks.empty(); // Clear existing categories
                    categories.forEach(function (category) {
                        // Assuming 'name' and 'permalink' are properties of the category
                        const categoryLink = `<li><a href="/c/${category.permalink}">/c/${category.permalink}</a></li>`;
                        $communityLinks.append(categoryLink);
                    });
                },
                error: function (error) {
                    console.error('Failed to fetch categories:', error);
                }
            });
        }

        fetchAndDisplayCategories();

        function checkSubscriptionStatus() {

            if ($('#cat_permalink a').length < 1)
                return;

            const permalink = $('#cat_permalink a').attr('href').split('/c/')[1];
            let subscriptions = JSON.parse(localStorage.getItem('userSubscriptions')) || [];

            if (subscriptions.includes(permalink)) {
                // User is subscribed to this category
                $('#subscribe_button').text('Leave').addClass('unsubscribe');
            } else {
                // User is not subscribed to this category
                $('#subscribe_button').text('Join').removeClass('unsubscribe');
            }

            // Show the button after setting the correct status
            $('#subscribe_button').css('visibility', 'initial');
        }

        checkSubscriptionStatus(); // Check and set subscription status on page load


        // Subscribe/Unsubscribe button click handler
        $('#subscribe_button').click(function () {
            const permalink = $('#cat_permalink a').attr('href').split('/c/')[1];
            const authToken = localStorage.getItem('authToken');
            const isSubscribed = $(this).hasClass('unsubscribe');
            const url = isSubscribed ? '/api/unsubscribe' : '/api/subscribe';
            const actionText = isSubscribed ? 'Join' : 'Leave';

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': `Bearer ${authToken}`
                },
                data: JSON.stringify({
                    permalink: permalink,
                }),
                success: function (response) {
                    console.log(response.message);
                    updateLocalSubscriptions(permalink, !isSubscribed);
                    $('#subscribe_button')
                        .text(actionText)
                        .toggleClass('unsubscribe', !isSubscribed);
                    refreshSubscriptions();
                },
                error: function (xhr, status, error) {
                    console.error('Action failed:', xhr.responseText);
                }
            });
        });

        // Example of updating local storage after subscribing/unsubscribing
        function updateLocalSubscriptions(permalink, isSubscribing) {
            console.log(permalink, isSubscribing);
            let subscriptions = JSON.parse(localStorage.getItem('userSubscriptions')) || [];

            if (isSubscribing) {
                // Add to local storage array if not already present
                if (!subscriptions.includes(permalink)) {
                    subscriptions.push(permalink);
                }
            } else {
                // Remove from local storage array
                subscriptions = subscriptions.filter(sub => sub !== permalink);
            }

            localStorage.setItem('userSubscriptions', JSON.stringify(subscriptions));
        }



        function refreshSubscriptions() {
            // Fetch the subscriptions from local storage
            let subscriptions = JSON.parse(localStorage.getItem('userSubscriptions')) || [];

            // Check if there are any subscriptions
            if (subscriptions.length > 0) {
                // Make sure the container is visible
                $('#subscribed_spaces_container').show();

                // Empty the current list to avoid duplicates
                $('#subscribed_links').empty();

                // Loop through the subscriptions and append each to the list
                subscriptions.forEach(function (sub) {
                    $('#subscribed_links').append(`<li><a href="/c/${sub}">/c/${sub}</a></li>`);
                });
            } else {
                // Hide the container if there are no subscriptions
                $('#subscribed_spaces_container').hide();
            }
        }

        refreshSubscriptions();


        function displayEditButtonIfAuthorized() {
            const username = localStorage.getItem('username'); // Get the current logged-in username
            const categoryCreator = '<%= category.creator %>'; // Get the category creator from the server-rendered template

            // Check if the current user is the creator of the category
            if (username && username === categoryCreator) {
                const permalink = '<%= category.permalink %>'; // Get the category permalink
                const editButtonHtml = `<a href="/submit-category?permalink=${permalink}"><button class="sidebar_button"><i class="fas fa-edit"></i>
Edit Category</button></a>`;

                // Append the Edit button HTML to the container
                $('#editCategoryButtonContainer').html(editButtonHtml);
            }
        }

        // Call the function to check and display the Edit button
        displayEditButtonIfAuthorized();



    });

</script>